*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
height: 100vh;
}

thead{
    background-color: #ececec;
}

th{
    padding: .5rem;
    border: 1px solid grey;
}

td{
    padding: .5rem;
    border: 1px solid grey;
}

td button{
    background-color: #e46161;
    padding: .3rem;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

form{
    width: 95%;
    margin: 0 auto;
}

.factura{
    width: 100%;
    text-align: center;
}

.factura h1{
    margin-top: 2rem;
}

.factura  input {
    padding: .4rem;
    border-radius: 4px;
    border: 1px solid grey;
    width: 100%;
}

.factura input[type=number]::-webkit-inner-spin-button,
.factura input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.factura  input:focus{
    background-color:#e4f1fe;
}

.factura button{
    width: 100%;
    padding: .4rem;
    color: white;
    background-color: #6ec189;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-bottom: 1rem;
}

.factura__cliente div{
    display: inherit;
    justify-items: flex-start;
    width: 100%;
}


.factura__position{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: flex-start;
    width: 100%;
    padding: 1.5rem 0;
    gap: .5rem;
}

.factura__correo{
    display: grid;
    justify-items: flex-start;
    width: 100%;
}

.table{
    width: 95%;
    border-collapse: collapse;
}

.resultados{
    display: flex;
    width: 95%;
    flex-direction: column;
    align-items: self-end;
    gap: .2rem;
    margin-top: 1rem;
}
